$dark_maincolor : #242731;
$dark_bodycolor : #1F2128;
$dark_textcolor: #5F6165;
$dark_darkcolor: #8099e9;
$dark_primarycolor: #A162F7;
$dark_secondtextcolor: rgb(255, 255, 255);
$dark_lightcolor:#FF6370;
