.sidebar {
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;

    &.dark_mode {
        background-color: $dark_maincolor;
    }

    &.light_mode {
        background-color: $maincolor ;
    }

    padding: 30px 24px;
    z-index: 10;

    .close-sidebar {
        position: absolute;
        right: 10px;
        font-size: 1.2em;
        top: 0;
        padding: 10px;

        &.dark_mode {
            color: $dark_secondtextcolor ;
        }

        &.light_mode {
            color: $textcolor;
        }

        transition: all 0.2s ease-in;
        cursor: pointer;

        &:hover {
            color: $primarycolor;
        }
    }

    ul {
        padding: 17px 8px;

        li {
            padding: 8px;
            transition: all 0.3s ease-in;
            border-radius: 5px;
            margin-bottom: 5px;
            &.dark_mode {
                color: $dark_secondtextcolor ;
                &.active {
                    background-color: #292E3D;
                }
                &:hover {
                    background-color: #292E3D;
                }
            }

            &.light_mode {
                color: $textcolor;
                &.active {
                    background-color: $bodycolor;
                }
                &:hover {
                    background-color: $bodycolor;
                }
            }

        }

        a {
            text-decoration: none;
            color: $secondtextcolor;
            transition: all 0.3s ease-in;

            &:hover {
                color: $textcolor;
            }
        }

    }
}

@media only screen and (max-width: 992px) {
    .sidebar {
        margin-left: -250px;
    }
}

.active {
    margin-left: 0;
}