.sign-in,
.sign-up {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;

    form {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        margin-left: 26%;
        margin-right: 26%;
        color: $secondtextcolor;

        .title {
            p {
                font-size: 13px;

                a {
                    text-decoration: none;
                    color: $primarycolor;
                    font-weight: bold;
                }
            }
        }

        .gmail {
            background-color: transparent;
            border: 2px solid rgba(111, 109, 109, 0.244);
            font-size: small;


        }

        .facebook {
            background: #4776D0;
            font-size: small;

            &:hover {
                background: #4776D0;
            }
        }

        .or {
            position: relative;

            &::before {
                content: '';
                width: 47%;
                position: absolute;
                right: 0;
                top: 13px;
                background-color: rgba(111, 109, 109, 0.244);
                height: 1px;
            }

            &::after {
                content: '';
                width: 47%;
                position: absolute;
                left: 0;
                top: 13px;
                background-color: rgba(111, 109, 109, 0.244);
                height: 1px;
            }
        }

        button {
            background-color: $primarycolor;
            border: none;

            &:hover {
                background-color: $primarycolor;
                border: none;
            }
        }
    }

    &.dark_mode {
        .title {
            h3 {
                color: $dark_secondtextcolor ;
            }

            p {
                color: $dark_textcolor ;
            }

        }

        .gmail {
            color: $dark_secondtextcolor ;
        }

        input {
            background-color: transparent;
            border-color: $textcolor;
            color: $dark_secondtextcolor;

            &:focus {
                background-color: transparent;
                border-color: $textcolor;
                color: $dark_secondtextcolor;
            }
        }

        input:checked {
            background-color: $dark_primarycolor;
            border: none;

        }

        .Forgot {
            text-decoration: none;
            color: $primarycolor;
        }

        label {
            color: $dark_secondtextcolor;
        }
    }

    &.light_mode {
        .title {
            h3 {
                color: $secondtextcolor ;
            }

            p {
                color: $textcolor ;
            }

        }

        .gmail {
            background-color: transparent;
            border: 2px solid rgba(111, 109, 109, 0.244);
            font-size: small;
            color: $secondtextcolor;

        }

        input {
            background-color: transparent;
            border-color: $textcolor;
            color: $secondtextcolor;

            &:focus {
                background-color: transparent;
                border-color: $textcolor;

                color: $secondtextcolor;
            }
        }

        input:checked {
            background-color: $primarycolor;
            border: none;

        }

        .Forgot {
            text-decoration: none;
            color: $primarycolor;
        }

        label {
            color: $secondtextcolor;
        }
    }
}

@media only screen and (max-width : 711px) {

    .sign-in,
    .sign-up {
        form {
            margin-left: 5%;
            margin-right: 5%;
        }
    }
}